/* edit student */
.update-student {
	font-family: 'Aref Ruqaa Ink', serif;
}

.create-student-heading {
	font-family: 'Aref Ruqaa Ink', serif;
}

label {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	color: brown;
}
